div{
    display: flex;
}
.main-body {
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(#1F1D36,#3F3351,#864879,#E9A6A6);
}

.Header {
    justify-content: space-evenly;
    align-items: center;
}

.intro{
    justify-content: center;
}
.quote{

}
.footer {
    justify-content: center;
}
.action{
    
}
.text-button{
    flex-direction: column;
    justify-content:space-evenly;
}
.info {
    flex-direction: column;
    align-items: center;
}
#B1{
    width: 216px;
    height: 56px;
    font-size: 30px;
    color: snow;
    text-align: center;
    background-color: mintcream;
}

#B2{
    height: 50px;
    width: 100px;
    font-size: 20px;
    align-self: center;
    color: snow;
    background-color: whitesmoke;
}

#Img1,#Img2,#Img3,#Img4{
    width: 20%;
}
#Img5{
    width: 30%;
}
.image-container {
    justify-content: space-evenly;
}