div{
    display: flex;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Header {
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.intro{
    justify-content: center;
    height: 300px
}
.info {
    flex-direction: column;
    align-items: center;
    height: 300px;
}
.image-container {
    justify-content: space-evenly;
}

.quote{
    height: 300px;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
}
.card {
    height: 300px;
    justify-content: center;

}
.call{
    
}
.action{
    justify-content: space-evenly;
    width: 800px;
    align-self: center;
    height: 90px;
    padding: 20px;
    background: cornflowerblue;
    color: white;
    
}
.text-button{
    flex-direction: column;
    justify-content:space-evenly;
}
.footer {
    justify-content: center;
    height: 50px;
}

#B1{
    width: 216px;
    height: 56px;
    font-size: 30px;
    color: snow;
    text-align: center;
    background-color: mintcream;
}

#B2{
    height: 50px;
    width: 100px;
    font-size: 20px;
    align-self: center;
    color: snow;
    background-color: whitesmoke;
}

#Img1,#Img2,#Img3,#Img4{
    width: 20%;
}
#Img5{
    width: 30%;
}

#testimonial{

}

#thunder{

}